@model IEnumerable<SurveyApp.Queries.Dtos.SurveyDto>

@{
    ViewData["Title"] = "OpenSurveys";
}

<h1>نظر سنجی های بسته</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResponseCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DefineDateTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.QuestionCount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ResponseCount)
                </td>
                <td class="show-date">
                    @Html.DisplayFor(modelItem => item.DefineDateTime)
                </td>
                <td>
                    @Html.ActionLink("اضافه کردن سوال", "AddQuestion", new { id = item.Id }) |
                    @Html.ActionLink("جزئیات", "ShowDetails", new { id = item.Id }) |
                    @Html.ActionLink("باز کردن", "Open", new { id = item.Id })|
                    @Html.ActionLink("گزارش", "Report", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
@section BottomScripts{
    <script src="https://unpkg.com/jalali-moment/dist/jalali-moment.browser.js"></script>
    <script src="~/js/Survey/ShowOpenSurveys.js"></script>
}
